*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
}
li{
    list-style: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 16px;
}
nav{
    background-color:#2b7abd;
    height: 50px;
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li,a{
    color:#fff ;
    margin-right: 12px;
}
li:hover{ 
    color: #fff;
    text-decoration: underline;
}
nav ul li:nth-child(1){
    margin-right: 0;
}
li:first-child:hover{ 
    color: #2f52b2;
    text-decoration: underline;
}
nav ul li:nth-child(5){
    width:140px;
    height: 50px;
    background-color: #df1a0c;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
nav ul li:nth-child(6) {
    display: flex; 
    align-items: center; 
    
}

nav ul li:nth-child(6) input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    outline: none;
}

nav ul li:nth-child(6) i {
    background-color: #e5e6e9;
    height: 40px;
    width: 40px;  
    margin-left: 4px;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}
nav ul li:nth-child(6):hover {
    color: inherit; /* Giữ nguyên màu chữ */
    text-decoration: none; /* Không có gạch chân */
}
nav ul li:nth-child(7) {
    margin-left: 5px;
    width: 105px;  
}

nav ul li:nth-child(7) a {
    display: block; 
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

nav ul li:nth-child(7):hover a {
    background-color: #4288c5; 
}


/* ------------------------------*/
.full-slider {
    max-width: 700px; 
    margin: 20px auto; 
    margin-left: 250px ;
    background-color: #fff;
}

section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section ul li:first-child {
    font-weight: bold;
    display: block;
    background-color: #fff; 
    padding: 5px 10px;
}

section ul li:nth-child(n+2) {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    margin-left: 5px; 
    margin-bottom: 5px;
    height: 20px;
    background-color: #555555;
    padding: 0 10px; 
    
}
section ul li:nth-child(n+2) a {
    color: #fff; 
    font-size: 12px;
    text-decoration: none;
}

hr {
    border: 1px solid #e5e6e9; 
    margin: 2px 0;
}
/*------------slide-----------*/
.slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    position: relative;
    width: 700px; 
    overflow: hidden; 

}

.slider-show {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 700px; 
    margin-top: 4px;

}

.slider-item {
    display: flex;
    flex: 0 0 700px; 
}

.slider-item img {
    bottom: 50%;
    width: 225px;
    height: auto;
    object-fit: cover; 
    margin-right: 2px; 
    margin-left: 5px;
    margin-bottom: 5px;
}
.slider2 {
    position: absolute; 
    top: 48.8%;
    height: 80px; 
    background-color: transparent; 
    z-index: 10; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden; 
    

}

.slider2-show {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 700px; 
    margin-top: 4px;
}

.slider2-item {
    display: flex; 
    flex: 0 0 700px; 
}

.caption-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 50%;
    width: 225px; 
    height: auto;
    object-fit: cover; 
    margin-right: 2px; 
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.caption-full{
    font-size: 10px;
    color: #fff;
}
.caption a {
    display: block; 
    padding: 5px;
}
.caption a:hover {
    text-decoration: underline; 
    text-decoration-color: white; 
}

.btn:hover{
    color:#fff;
}
.btn {
    font-size: 35px;
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}




    

