* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #eeeeee;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 15px;
}

header {
    background-color: #2b7abd;
    height: 50px;
    display: flex;
    justify-content: center;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
header ul li a {
    color: #fff;
    margin-right: 5px;
}
header ul li {
    position: relative;
    display: inline-block;
}
header .table-type {
    display: none;
    position: absolute;
    top: 90%; 
    left: 0;
    width: 270px;
    background-color: none;
    padding: 20px 0;
    z-index: 100;
}
header .table-type table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}
header .table-type td {
    border: 1px solid #eeeeee;
    padding: 10px;
    color: #333;
    text-align: left;
}
header .table-type td i {
    margin-right: 5px;
}
header .table-type td:hover {
    background-color: #eeeeee;
}

header .table-type td a {
    color: #333;
}
header ul li.table-parent:hover .table-type {
    display: block;
}
header ul li:nth-child(5) {
    width: 140px;
    height: 50px;
    background-color: #df1a0c;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li:nth-child(6) {
    display: flex;
    align-items: center;
}
header ul li:nth-child(6) input {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    outline: none;
}
header ul li:nth-child(6) i {
    background-color: #e5e6e9;
    height: 40px;
    width: 40px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li:nth-child(7) {
    margin-left: 5px;
    width: 110px;
}
header ul li:nth-child(7) a {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
header ul li:nth-child(7):hover a {
    background-color: #4288c5;
}
header ul li:hover a {
    text-decoration: underline;
}

/* ----------------section-left-1 */
.content::after {
    content: '';
    clear: both;
    display: table;
}
.content{
    width: 95%;
}
#full-slider, #right {
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 1px 5px;
    margin-left: 3px ;
    
}
/* .slider1{
    width: 100%;
    padding: 5px;
    background-color: rgb(150, 37, 37);
} */

#full-slider {
    max-width:710px; 
    margin: 20px auto; 
    padding: 5px;
    margin-left: 250px ;
    
} .breadcrumb {
    padding: 1px;
    background-color: #eeeeee;
    font-size: 14px;
}

.breadcrumb a {
    color: #595959; 
    margin: 0 5px;
}
.breadcrumb a:hover {
    text-decoration:underline;
}
hr {
    width: 100%;
    border: 1px solid #e5e6e9; 
    margin: 1px 0;
}

.btn:hover{
    color:#fff;
}.btn {
    font-size: 35px;
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}.btn-left {
    left: 1px;
}.btn-right {
    right: 10px;
}
/*-------------slider2*/


/*------------------------------------*/
#right {
    width: 20%;
    margin-top: 5px;
}
.right1 {
    margin: 20px ;
    width: 100%;
    background-color: #fff;
}
.right1 li {
    list-style-type: none;
}
.the-loai{
    margin-left: 10px;
}
.the-loai tr td {
    padding: 3px 0;
    
}
.right1 .the-loai tr:nth-child(-n+2) td i,
.right1 .the-loai tr:nth-child(-n+2) td a {
    color: red; 
}
.the-loai tr a {
    text-decoration: none;
}
.right1 li {
    display: inline; 
}
.right1 a{
    color: #444444;
}
.right1 li:first-child {
    display: flex;
    align-items: center; 
    height: 100%;
}
.right1 li a {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 7px;
}

.right1 li a:hover {
    
    text-decoration: underline;
}
.right1 i:hover {
    text-decoration-line: line-through; 
}
/*----------right2--------------*/
.right2{
    margin: 20px ;
    width: 100%;
    background-color: #fff;
}
.review{
    margin-left: 10px;
    padding: 2px;
}
.review li:nth-child(n+2) {
    display: flex;
    align-items: center; 
    margin-top: 10px;   
}
.review li img {
    margin-right: 10px;
    width: 70px;
    height: auto;
}

.review li a {
    color: #444444;
    text-decoration: none;
    font-size: 15px;
}
.right2 li a:hover {
    text-decoration: underline;
}
.review li:nth-child(8) {
    display: flex;
    width: 40%; 
    align-items: center;
    justify-content: center;
    background-color: #737373; 
    color: #fff;
    padding: 8px; 
    border-radius: 20px;  
    margin: 10px auto;  
}
.review li:nth-child(8) a{
    color:#fff;
}
/*----------right3-------------*/
.right3 {
    margin: 20px ;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}

.top-truyen ul {
    list-style-type: none;
    margin: 0;
}
.top-truyen ul li:nth-child(1){
    border-bottom: 1px dotted #ccc; 
    padding-bottom: 10px;
}
.top-truyen ul li:nth-child(n+2) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0;
    border-bottom: 1px dotted #ccc; 
    background-color: #fff;
}
.top-truyen ul li:last-child {
    display: flex;
    width: 40%; 
    align-items: center;
    justify-content: center;
    background-color: #737373; 
    color: #fff;
    border-radius: 20px;  
}

.top-truyen .rank {
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px; 
    width: 50px; 
    text-align: center;

}
.top-truyen .info {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.top-truyen .info a.title {
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.top-truyen .info a.title:hover {
    text-decoration: underline;
}

.top-truyen .info .viewed {
    font-size: 14px;
    color: #777;
    display: flex;
    align-items: center;
}

.top-truyen .info .viewed i {
    margin-right: 5px;

}
.top-truyen li .rank{
    font-weight: 100;
}
.top-truyen .rank {
    width: 40px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.top-truyen li:nth-child(2) .rank {
    
    color: #ff0000;
}

.top-truyen li:nth-child(3) .rank {
    color: #f39c12;
}

.top-truyen li:nth-child(4) .rank {
    color: #e67e22;
}
.top-truyen li:nth-child(5) .rank,
.top-truyen li:nth-child(6) .rank,
.top-truyen li:nth-child(7) .rank,
.top-truyen li:nth-child(8) .rank,
.top-truyen li:nth-child(9) .rank,
.top-truyen li:nth-child(10) .rank,
.top-truyen li:nth-child(11) .rank {
    color: #3498db;
}
.top-truyen li:nth-child(12){
    display: flex;
    width: 40%; 
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #737373; 
    color: #fff;
    padding: 8px; 
    border-radius: 20px;  
    margin: 5px auto;    
}
.top-truyen li:last-child a {
    display: block;
    justify-content: center; 
    align-items: center;
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
    /* transition: background-color 0.3s; */
}
/*---------right4-------*/
.right4 {
    margin: 20px ;
    width: 100%;
    padding: 10px;
    background-color: #fff;
}


/*----------footer--------(Dung)*/
footer {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f5f5f5;
    line-height: 1.6;
    margin: 0; 
}
.container-footer {
    width: 70%;
    margin: 0 auto; /* Căn giữa container */
    padding: 20px;
    padding-top: 0; /* Loại bỏ khoảng cách giữa container và phần trên */
}
.top-footer {
    background-color: #111;
    padding:  20px;
    margin-top: 0;  /* Loại bỏ khoảng cách phía trên */
    margin-bottom: 40;  /* Không có khoảng cách phía dưới */
    padding-top: 10px; /* Giảm padding-top để đẩy toàn bộ nội dung lên trên */
}
.top-footer h2 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 20px; /* Tạo khoảng cách nhỏ giữa tiêu đề và danh sách */
}
.top-links a {
    color: #00aaff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 16px;
    border-bottom: 2px solid #00aaff;
}
.bottom-footer {
    margin-top: 20px; 
}
.bottom-footer p {
    font-size: 16px;
    margin-bottom: 10px;
}
.bottom-footer a {
    color: #00aaff;
    text-decoration: none;
    border-bottom: 2px solid #00aaff; 
}
.footer-links {
    margin-top: 10px;
}
.footer-links a {
    color: #00aaff;
    margin-right: 10px;
    font-size: 14px;
    border-bottom: 2px solid #00aaff; 
}
.info-bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 5px;
}
.info-bottom-footer p {
    margin: 0;
    font-size: 16px;
}
.copyright {
    text-align: right;
    white-space: nowrap;
}
.license {
    margin-top: 20px;
}
.dmca {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.dmca a {
    margin-right: 10px;
    border-bottom: none;
}
.dmca .logo {
    width: 90px;
    height: auto;
}
.dmca img:first-child {
    width: 90px;
    height: auto;
}
.dmca .second-logo {
    display: flex;
    align-items: center;
}
/* slider test */
.boxhuy {
    position: absolute;
    margin-top: 35px;
    left: 256px; 
    top: 66px;   
    width: 696px; 
    height: auto;
    background-color: rgb(255, 255, 255); 
    border: 1px solid rgb(255, 255, 255); 
    padding-left: 10px; 
    box-sizing: border-box;
}

.contenthuy {
    display: flex;
    align-items: flex-start;
    padding: 10px 0; 
}

.contenthuy .left-column {
    margin-right: 20px;
}

.contenthuy .left-column img {
    width: 35px;
    height: 55px;
    display: block;
    margin-left: 10px; 
}

.contenthuy .right-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.contenthuy .right-column a:hover {
    text-decoration: underline;
}
.contenthuy .a{
    margin: 0;
    font-size: 17px; 
}

.contenthuy .row {
    display: flex;
    margin-bottom: 8px; 
    width: 100%;
}

.contenthuy .col {
    flex: 1; 
    margin-right: 2px;
    width: 800px; 
}

.contenthuy .title {
    text-align: left; 
    width: auto;
}

.contenthuy .status {
    margin-left: 90px;
    margin-top: 1px;
}
.contenthuy .tag.full {
    background-color: rgb(255, 255, 255);
    color: rgb(21, 255, 0);
}
.contenthuy .story-label {
    display: inline-block;
    background-color: transparent;
    color: #e74c3c;
    border: 1px solid #e74c3c;
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
}
.contenthuy .story-label2 {
    display: inline-block;
    background-color: transparent;
    color: #169318;
    border: 1px solid #169318;
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
}
.mucluc {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100%;
}
  
.mucluc a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s;
}
  
.mucluc a.active {
    background-color: #2f52b2;
    color: white;
}
.mucluc a:hover:not(.active) {
    background-color: #ddd;
}